<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Mi nombre es Irvin Meneses. Soy un desarrollador Jr y
      estoy muy interesado en aprender mas a fondo ReactJS, NodeJS, MongoDB
      y muchas más tecnologias para asi convertirme en el desarrollador mas reconocido de Panamá
    </p>
  </div>
</section>