<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Mi nombre es Irvin Meneses. Soy un desarrollador Jr
      estoy interesado en aprender mas a fondo ReactJS, NodeJS, MongoDB
      y convertirme en el desarrollador mas reconocido de Panamá
    </p>
  </div>
</section>