<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App</h1>
  <p class="lead">Bienvenido, aquí podras almacenar tus notas y recordatorios
  </p>
  <hr class="my-4">
  <p>Cualquier sugerencia no dudes en comunicarmela
  </p>
  <a href="mailto:irvinemmanuel16@gmail.com" target="blank" class="btn btn-primary">Redactar</a>
</div>