<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
  <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id maiores sapiente sequi explicabo et
    iusto.
  </p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ipsum, est fuga rem fugiat voluptatum similique
    veniam minima ipsam explicabo!
  </p>
  <a href="https://youtube.com" target="blank" class="btn btn-primary">You tube</a>
</div>